<div class="home-page">
  <div id="stats"><%= render 'shared/loading' %></div>

  <%= link_to "Manually Update", search_path, remote: true, class: "button hide", id: "target" %>
</div>

<script type="text/javascript">
  function refreshPage() {
    $("#target")[0].click();
  }
  setTimeout(function () {
    setInterval('refreshPage()', 5000);
  }, 30000);
  function stoppedWorking() {
    if($('#stats:contains("Stopped")').length > 0) {
      window.location.reload()
    }
  }
  setInterval('stoppedWorking()', 10000)
</script>
