<div class="home-page">
  <div id="stats"><%= render 'shared/loading' %></div>

  <%= link_to "Manually Update", search_path, remote: true, class: "button hide", id: "target" %>
</div>

<script type="text/javascript">
  function refreshPage() {
    $("#target")[0].click();
  }

  setTimeout(function () {
    setInterval('refreshPage()', 2000);
  }, 30000);
</script>
