<div id="inner_stats">
  <h4 id="target2" class="running loading">Waking Applications<span>.</span><span>.</span><span>.</span>
    <br/>
    <div id="small">This takes about 30 seconds..</div>
  </h4>
  <div id="stat-cells">
    <div class="stat-cell">
      <h5>Profiles</h5>
      <p><%= Profile.count %></p>
    </div>
    <div class="stat-cell">
      <h5>
        URLs<br/>
        Remaining
      </h5>
      <p><%= SearchTerm.where(searched: false).count %></p>
    </div>
    <div class="stat-cell">
      <h5>
        URLs<br/>
        Finished
      </h5>
      <p><%= SearchTerm.where(searched: true).count %></p>
    </div>
  </div>
</div>
