<div id="inner_stats">
  <% if Bookmark.maximum(:updated_at) > (Time.now.utc - 1.minute) %>
    <h4 class="running">Running</h4>
      <% else %>
    <h4 class="stopped">Stopped</h4>
  <% end %>
  <div id="stat-cells">
    <div class="stat-cell">
      <h5>Profiles</h5>
      <p><%= Profile.count %></p>
    </div>
    <div class="stat-cell">
      <h5>
        URLs<br/>
        Remaining
      </h5>
      <p><%= SearchTerm.where(searched: false).count %></p>
    </div>
    <div class="stat-cell">
      <h5>
        URLs<br/>
        Finished
      </h5>
      <p><%= SearchTerm.where(searched: true).count %></p>
    </div>
  </div>
</div>
