<h4>New Search Term</h4>
<%= render 'form', search_term: @search_term %>

<div class="search terms-search" style="margin-top: 9.375rem;">
  <h5>Import Spreadsheet</h5>
  <%= form_tag search_terms_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "UPLOAD" %>
  <% end %>
</div>
