.admin-bar {
  width: 12.5rem;
  padding: 0.625rem;
  position: fixed;

  h2 {
    color: $fintros-header;
  }

  hr {
    border: 0;
    border: 0;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: $fintros-super-light-blue;
  }

  ul {
    padding: 0.625rem;
    margin: 0;

    li {
      list-style: none;

      a {
        color: $fintros-header;
        line-height: 1.75rem;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}
