//---------- About
.about-bar {
  // position: fixed;
  padding: 0.625rem;
  background: white;
  width: 100%;
  top: 0;
  font-size: 0.875rem;

  li {
    list-style: none;
    padding: 0.250rem 0;
    cursor: pointer;
    margin-left: 1.25rem;
    display: inline-block;

    &:hover {
      font-weight: 500;
    }

    b {
      cursor: auto;
    }
  }
}

.about-content {
  padding: 3.125 0 12.5rem 0;

  .about-collection-div {
    padding: 2.5rem;
  }

  .about-div {
    padding: 2.5rem 1.25rem;

    &:nth-of-type(2n) {
      background: $fintros-grey;
    }

    ol {
      padding-left: 0.625rem;
      font-size: 0.875rem;
    }
  }
}

//---------- Profiles
// search
.search {
  text-align: center;
  max-width: 25rem;
  margin: 0 auto 9.375rem;

  h4 {
    margin: 0;
  }

  p {
    font-size: 0.75rem;
    margin: 0;
  }

  input {
    margin: 0.3125rem;
    width: 100%;
  }

  input[type=submit] {
    border-color: $fintros-light-blue;
    border-radius: 4px;
    padding: 1rem;
    font-weight: 500;
    font-size: 0.75rem;
    box-shadow: 2px 2px $fintros-grey;
    color: $fintros-blue;

    &:hover {
      cursor: pointer;
      background: $fintros-blue;
      color: white;
    }
  }
}

// profiles
.profiles {
  .profile {
    margin: 0 auto;
    padding: 1.25rem;

    &:nth-of-type(2n) {
      background: $fintros-grey;
    }
  }
}

//---------- Calendar
// header
.calendar-heading {
  text-align: center;
  width: 100%;
  font-weight: 900;

  a {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
}

.simple-calendar {
  .table-striped {
    thead {
      tr {
        th {
          text-align: center;
        }
      }
    }

    tbody {
      td {
        border: 1px solid $fintros-grey;
        text-align: center;
        line-height: 2rem;
      }
      .today {
        box-shadow: inset 0px 0px 0px 1px $fintros-blue;
        font-weight: 900;
      }
    }
  }
}

//---------- Statistics
.statistics {
  .statistic-header {
    h2 {
      margin: 1rem 0;
    }
    .prev-next-day {
      display: block;
      font-size: 1rem;
      a {
        margin: 0 2rem 2rem 0;
        line-height: 2
      }
    }
  }

  h4 {
    .small-header {
      font-size: 0.8rem;
      display: block;
    }
  }

  li {
    list-style: none;
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  .statistic-row {
    padding: 2rem 1rem;

    &:nth-of-type(2n) {
      background: $fintros-grey;
    }
  }
}
