$fintros-red: #d21013;

$fintros-super-light-blue: #d0e8fe;
$fintros-light-blue: #89d0ff;
$fintros-blue: #1a7cff;
$fintros-dark-blue: #357ffd;

$fintros-light-grey: #f7f7f7;
$fintros-grey: #efefef;
$fintros-dark-grey: #2b2b2b;

$fintros-text: #1a7cff;
$fintros-header: #010101;
